/* Styles for all pages. Acts as a template for all pages. */

/* All classes and id's in styles.css will be available for all pages, to ensure consistant styling */

#container{		/* Makes website fill page */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
}

a:visited{
	text-decoration: none;
	color: inherit;
}

/******************************* Header *******************************/

#header{		
	height: 150px;
	width: 100%;
	background-color: #1a1a1a;
	box-shadow: 0 4px 2px -2px gray;
}

#title{		/* Positions title for logo */
	height: 90px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#logo{		/* TaskerMAN logo */
	height: 100%;
	width: 410px;
	margin-left: 230px;
	background-image: url(../../images/title.png);
}

#nav{
	margin-left: auto;
	margin-right: auto; 
	height: 50px;
	width: 950px;
}

.navOptions{
	height: 35px;
	width: 25%;
	margin-top: 10px;
	float: left;

	padding-top: 15px;
	font-size: 15px;
	font-family: tahoma;
	text-align: center;
	color: white;
}

.navOptions:hover{
	background-color: #a1a1a1;
}

/******************************* BODY *******************************/

#bodyContainer{
	height: auto;
	width: 900px;
	margin-top:0; 
	margin-bottom:0; 
	margin-left:auto;	
	margin-right:auto; 
}

#body{
	float: left;
	min-height: 0px;
	width: 900px;
	background-color: #cccccc;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#bodyHead{
	height: 61px;
	width: 100%;
	border-bottom: 1px solid #b3b3b3;
	font-family: tahoma;
	font-size: 35px;
	text-indent: 20px;
	padding-top: 10px;
}

#bodyMain{		/* Information part of the body */
	min-height: 100px;
	float: left;
	width: 100%;
	border-top: 1px solid white;
}

#bodyFooter{
	float: left;
	margin-top: 10px;
	height: 100px;
	width: 100%;
}

/* Buttons sttyles */
#submit{
	float: left;
	height: 150px;
	width: 200px;
	border: solid 1px black;
	text-align: center;
	text-decoration: none;
	font-family: tahoma;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: green;
	margin-left: 100px;
}

#add{
	height: 50px;
	width: 150px;
	float: left;
	margin-left: 250px;
	margin-top: 25px;
	border: solid white 1px;
	background-color: green;
	color: white;
	font-family: tahoma;
	text-align: center;
	margin-bottom: 20px;
}

#remove{
	height: 37.5px;
	width: 150px;
	float: right;
	margin-right: 250px;
	margin-top: 25px;
	border: solid white 1px;
	background-color: red;
	color: white;
	font-family: tahoma;
	text-align: center;
	padding-top: 15px;
}

#return{
	float: left;
	height: 40px;
	padding-top: 15px;
	width: 200px;
	border: solid 1px black;
	text-align: center;
	text-decoration: none;
	font-family: tahoma;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: orange;
	margin-left: 400px;
}

#errorText{
	text-align: center;
	font-family: tahoma;
	padding: 10px;
}